<nav>
    <div class="nav-wrapper">
        <a href="/dashboard" class="brand-logo center">My Classroom</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul id="mobile-demo" class="sidenav">
            <div class="card-content">

                <li><img class="circle small" src="{{image}}" style="margin-top: 10px; "></li>
            </div>

            <li>
                <p style='padding-left:32px; color: rgba(0,0,0,0.87);'>Hi {{name}}!</p>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="/stories">Public Stories</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="/auth/logout">Logout</a></li>
            <li>
                <div class="divider"></div>
            </li>
        </ul>
    </div>
</nav>